.temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 2.5em;
  }
}
.iconW {
  animation: rotazione 30s infinite linear;
}
@keyframes rotazione {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
